*.inc linguist-language=Delphi
*.pas linguist-language=Delphi
*.dfm linguist-language=Delphi
*.dpr linguist-language=Delphi
*.fmx linguist-language=Delphi
*.dproj linguist-language=Delphi
*.deployproj linguist-language=Delphi
