*.inc linguist-language=Pascal
*.pas linguist-language=Pascal
*.dfm linguist-language=Pascal
*.dpr linguist-language=Pascal
*.fmx linguist-language=Pascal
*.dproj linguist-language=Pascal
*.deployproj linguist-language=Pascal
